<template>
  <div class="bg-background h-full">
    <header-upload />
    <div class="grid grid-cols-12 mb-3 md:mb-6 lg:mb-10 mx-5 md:mx-7 lg:mx-12">
      <div class="col-span-12 md:col-span-9 lg:col-span-8">
        <div class="rounded-lg bg-white mb-4 mr-4">
          <div class="px-6 py-6">
            <div class="grid grid-cols-2 gap-2">
              <div>
                <h2 class="text-24px text-primary1 mb-2">
                  Diki Supardi
                </h2>
              </div>
              <div class="text-right">
                <button type="button" class="icon text-primary2" @click="signOut()">
                  <i class="fas fa-sign-out-alt" />
                </button>
              </div>
            </div>
            <div class="flex mb-2">
              <span
                class="
                  bg-yellow-100 text-label text-md font-medium
                  mr-2 px-1.5 py-1 rounded
                  dark:bg-yellow-900 dark:text-yellow-300
                "
              >
                Order ID #100937348
              </span>
            </div>
            <div class="flex mb-2">
              <span class="text-gray-500 font-bold">Ordered on 28 May</span>
            </div>
            <span class="text-gray-500">3 items ordered</span>
          </div>
        </div>

        <div class="rounded-lg bg-primary1 text-white mb-4 mr-4">
          <div class="px-6 py-6">
            <h2 class="text-24px mb-4">
              Approval Layout
            </h2>
            <span>Please review and approve the following layout soon!</span>
            <div class="flex my-1.5">
              <button class="bg-button rounded text-white w-full p-3" @click="selectLayout()">
                2 pcs Large Softcover-24 Halaman
              </button>
            </div>
            <div class="flex my-1.5">
              <button class="bg-button rounded text-white w-full p-3" @click="selectLayout()">
                2 pcs Large Softcover-24 Halaman
              </button>
            </div>
            <div class="flex my-1.5">
              <button class="bg-button rounded text-white w-full p-3" @click="selectLayout()">
                2 pcs Large Softcover-24 Halaman
              </button>
            </div>
          </div>
        </div>

        <div class="rounded-lg bg-white mb-4 mr-4">
          <div class="px-6 py-6">
            <h2 class="text-24px text-primary1 mb-4">
              Please complete each section below
            </h2>
            <span class="text-gray-500">Complete each point until it turns green!</span>
            <div class="flex my-1.5">
              <button class="bg-buttonDone cursor-not-allowed rounded text-white w-full p-3">
                2 pcs Large Softcover-24 Halaman
              </button>
            </div>
            <div class="flex my-1.5">
              <button class="bg-buttonDone cursor-not-allowed rounded text-white w-full p-3">
                2 pcs Large Softcover-24 Halaman
              </button>
            </div>
            <div class="flex my-1.5">
              <button class="bg-buttonDone cursor-not-allowed rounded text-white w-full p-3">
                2 pcs Large Softcover-24 Halaman
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-12 md:col-span-3 lg:col-span-4">
        <timeline-upload :step="2" />
      </div>
    </div>
    <footer-upload />
  </div>
</template>

<script>
import HeaderUpload from '../../components/HeaderUpload.vue'
import TimelineUpload from '../../components/TimelineUpload.vue'
import FooterUpload from '../../components/FooterUpload.vue'

export default {
  name: 'Step1',
  components: { HeaderUpload, TimelineUpload, FooterUpload },
  methods: {
    selectLayout () {
      this.$router.push('/step2/layout')
    },
    signOut () {
      this.$router.push('/login')
    }
  }
}
</script>
