<template>
  <div class="bg-background h-full">
    <header-upload />
    <div class="grid grid-cols-12 mb-3 md:mb-6 lg:mb-10 mx-5 md:mx-7 lg:mx-12">
      <div class="col-span-12 md:col-span-9 lg:col-span-8">
        <div class="rounded-lg bg-white mb-4 mr-5">
          <div class="px-6 py-6">
            <div>
              <button type="button" class="icon text-primary1" @click="back()"><i class="fas fa-arrow-left"></i></button>
            </div>
            <h2 class="text-24px text-primary1 mb-2">
              Large Softcover-24 Halaman
            </h2>
            <div class="flex mb-2">
              <span
                class="
                  bg-yellow-100 text-label text-md font-medium
                  mr-2 px-1.5 py-1 rounded
                  dark:bg-yellow-900 dark:text-yellow-300
                "
              >
                Order ID #100937348
              </span>
            </div>
            <div class="flex mb-2">
              <span class="text-gray-500 font-bold">Qty: 2 books</span>
            </div>
          </div>
        </div>

        <div class="grid grid-cols-2">
          <div v-for="(layout, id) in layouts" :key="id" :ref="layoutRef" class="rounded-lg bg-white mb-4 mr-5">
            <div class="px-6 py-6">
              <h2 class="text-16px text-primary1 mb-2">
                Preview Book {{ id }}: “birthday boy how old will the boy be”
              </h2>
              <img src="/frame.png">
              <div class="grid grid-cols-2 mt-2">
                <div>
                  <span class="text-gray-400 text-14px">
                    File : Layout-Design.pdf
                  </span>
                </div>
                <div>
                  <a href="#" class="text-primary1 text-14px">Download</a>
                </div>
              </div>
              <div class="my-2">
                <span
                  class="
                    bg-yellow-100 text-label font-medium
                    px-1.5 py-1 rounded
                    dark:bg-yellow-900 dark:text-yellow-300
                  "
                >
                  Revision 1/3
                </span>
              </div>
              <div v-if="!layout.isSubmit">
                <span class="font-bold text-primary1 text-14px">Are the results according to your wishes?</span>
              </div>
              <div v-if="!layout.isSubmit">
                <input v-model="layout.isRevision" type="checkbox">
                <span class="text-primary1 text-14px"> I submitted a revision</span>
              </div>
              <div>
                <input type="checkbox" :checked="layout.isRevision === false" @click="toggleNoRevision(id)">
                <span class="text-primary1 text-14px">I'm satisfied with the result</span>
              </div>
              <div v-if="layout.isRevision && !layout.isSubmit" class="my-2">
                <label class="text-primary1 font-bold">Revision Description</label>
                <textarea v-model="layout.revisionText" class="w-full" rows="10" placeholder="Explain what you want to revise" />
              </div>
              <div v-if="layout.isRevision === false && !layout.isSubmit" class="my-2">
                <p class="font-bold text-primary1 text-14px">
                  You agree with the results and will proceed to the production stage. You cannot change this decision.
                </p>
              </div>
              <div v-if="!layout.isSubmit" class="w-full">
                <button v-if="layout.isRevision" class="p-3 bg-primary1 text-white w-full rounded-md" @click="save(id)">
                  Submit Revision
                </button>
                <button v-if="layout.isRevision === false" class="p-3 bg-primary1 text-white w-full rounded-md" @click="save(id)">
                  Approve
                </button>
              </div>
              <div v-if="layout.isSubmit" class="rounded-md p-4 bg-alertSuccess text-14px text-primary1 mt-2">
                {{ layout.isRevision ? 'Revision has been submitted' : 'This preview has been approved' }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-12 md:col-span-3 lg:col-span-4 mr-4">
        <timeline-upload :step="2" />
      </div>
    </div>
    <footer-upload />
  </div>
</template>

<script>
import HeaderUpload from '../../components/HeaderUpload.vue'
import TimelineUpload from '../../components/TimelineUpload.vue'
import FooterUpload from '../../components/FooterUpload.vue'

export default {
  name: 'ThemePhoto',
  components: { HeaderUpload, TimelineUpload, FooterUpload },
  data () {
    return {
      qty: 2,
      layouts: [],
      layoutRef: 1
    }
  },
  mounted () {
    for (let i = 0; i < this.qty; i++) {
      this.layouts.push({
        id: i,
        isRevision: null,
        isSubmit: false,
        revisionText: '',
        img: '/frame.png'
      })
    }
    this.layoutRef++
  },
  methods: {
    save (id) {
      this.layouts[id].isSubmit = true
    },
    toggleNoRevision (id) {
      this.layouts[id].isRevision = false
    },
    back () {
      this.$router.push('/step2')
    }
  }
}
</script>
