<template>
  <div class="bg-background h-full">
    <header-upload />
    <div class="grid grid-cols-12 mb-3 md:mb-6 lg:mb-10 mx-5 md:mx-7 lg:mx-12">
      <div class="col-span-12 md:col-span-9 lg:col-span-8">
        <div class="rounded-lg bg-white mb-4 mr-4">
          <div class="px-6 py-6">
            <div>
              <button type="button" class="icon text-primary1" @click="back()"><i class="fas fa-arrow-left"></i></button>
            </div>
            <h2 class="text-24px text-primary1 mb-2">
              Large Softcover-24 Halaman
            </h2>
            <div class="flex mb-2">
              <span
                class="
                  bg-yellow-100 text-label text-md font-medium
                  mr-2 px-1.5 py-1 rounded
                  dark:bg-yellow-900 dark:text-yellow-300
                "
              >
                Order ID #100937348
              </span>
            </div>
            <div class="flex mb-2">
              <span class="text-gray-500 font-bold">Qty: 2 books</span>
            </div>
            <span class="text-gray-500">Every book has</span>
            <div class="flex">
              <select class="w-full bg-white border border-gray-300 px-4 py-2 pr-8 rounded shadow focus:outline-none focus:border-blue-500" @change="showDesign()">
                <option value="" class="py-2 pl-8">
                  Choose a design
                </option>
                <option value="option1" class="py-5 pl-8">
                  Same design
                </option>
                <option value="option2" class="py-5 pl-8">
                  Different designs
                </option>
              </select>
            </div>
          </div>
        </div>
        <div v-if="isShow" class="rounded-lg bg-white mb-4 mr-4">
          <div class="px-6 py-6">
            <div class="flex rounded-lg bg-footer2 p-5">
              <div class="grid grid-cols-1 gap-2 w-full">
                <div class="px-4">
                  <div class="grid grid-cols-2">
                    <div>
                      <span class="text-gray-500">Book 1 title:</span>
                    </div>
                    <div class="text-right">
                      <button type="button" class="icon" @click="openBookTitleModal()">
                        <i class="fa fa-pencil" />
                      </button>
                    </div>
                  </div>
                </div>
                <div class="px-4">
                  <span class="text-24px text-primary1 mb-2 fw-bold">
                    “{{ bookTitle }}"
                  </span>
                </div>
              </div>
            </div>
            <ul class="list-disc px-6 py-6">
              <li class="mb-4">
                <h2 class="text-24px text-primary1 mb-2">
                  Theme
                </h2>
                <span class="text-gray-500">Please select a theme below</span>
                <div class="flex my-1.5">
                  <button class="bg-button rounded text-white w-full p-3" @click="openThemeModal()">
                    Choose Theme
                  </button>
                </div>
              </li>
              <li>
                <h2 class="text-24px text-primary1 mb-2 fw-bold">
                  Upload Photos
                </h2>
                <span class="text-gray-500">Please upload photos below</span>
                <div class="flex my-1.5">
                  <button class="bg-button rounded text-white w-full p-3" @click="openPhotoModal()">
                    Upload Photos
                  </button>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div v-if="isShow" class="rounded-lg bg-white mb-4 mr-4">
          <div class="grid grid-cols-1 gap-2 p-6">
            <div>
              <input type="checkbox" @click="aggree = !aggree">
              By checking the box you agree to the security and privacy policy.
            </div>
            <div>
              <button :class="buttonSaveClass" :disabled="!aggree" @click="save()">
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-12 md:col-span-3 lg:col-span-4 mr-4">
        <timeline-upload :step="1" />
      </div>
    </div>
    <footer-upload />
    <theme-modal v-if="isShowThemeModal" @callback="closeThemeModal" />
    <photo-modal v-if="isShowPhotoModal" @callback="closePhotoModal" />
    <book-title-modal v-if="isShowBookTitleModal" :bookTitle="bookTitle" @callback="emitBookTitleModal($event)" />
  </div>
</template>

<script>
import HeaderUpload from '../../components/HeaderUpload.vue'
import TimelineUpload from '../../components/TimelineUpload.vue'
import FooterUpload from '../../components/FooterUpload.vue'
import ThemeModal from '../../components/ThemeModal.vue'
import PhotoModal from '../../components/PhotoModal.vue'
import BookTitleModal from '../../components/BookTitleModal.vue'

export default {
  name: 'ThemePhoto',
  components: { HeaderUpload, TimelineUpload, FooterUpload, ThemeModal, PhotoModal, BookTitleModal },
  data () {
    return {
      isShow: false,
      isShowThemeModal: false,
      isShowPhotoModal: false,
      isShowBookTitleModal: false,
      aggree: false,
      bookTitle: 'birthday boy how old will the boy be'
    }
  },
  computed: {
    buttonSaveClass () {
      if (this.aggree) {
        return [
          'bg-primary1',
          'rounded',
          'text-white',
          'w-full',
          'p-3'
        ].join(' ')
      } else {
        return [
          'bg-caption',
          'rounded',
          'text-white',
          'w-full',
          'p-3'
        ].join(' ')
      }
    }
  },
  methods: {
    showDesign () {
      this.isShow = true
    },
    openThemeModal () {
      this.isShowThemeModal = true
      document.body.style.overflow = 'hidden'
    },
    closeThemeModal () {
      this.isShowThemeModal = false
      document.body.style.overflow = ''
    },
    openBookTitleModal () {
      this.isShowBookTitleModal = true
      document.body.style.overflow = 'hidden'
    },
    emitBookTitleModal ($event) {
      this.isShowBookTitleModal = false
      if ($event) {
        this.bookTitle = $event
      }
      document.body.style.overflow = ''
    },
    openPhotoModal () {
      this.isShowPhotoModal = true
      document.body.style.overflow = 'hidden'
    },
    closePhotoModal () {
      this.isShowPhotoModal = false
      document.body.style.overflow = ''
    },
    back () {
      this.$router.push('/step1')
    },
    save () {
      this.$router.push('/step2')
    }
  }
}
</script>
