<template>
  <div class="grid grid-cols-1 gap-2">
    <div class="fixed inset-0 flex z-50 backdrop-blur-sm p-6">
      <div class="grid grid-cols-1 gap-2 w-full">
        <div class="flex justify-center items-center">
          <div class="bg-white rounded-lg p-6 shadow-md">
            <div class="grid grid-cols-1 gap-2">
              <div>
                <button class="icon"><i class="fas fa-arrow-left" @click="closeModal()"></i></button>
              </div>
              <div>
                <label><span class="text-primary1">Book Title </span><span class="text-primary2">*</span></label>
                <input
                  type="text"
                  class="border rounded px-4 py-2 placeholder-gray-400 text-gray-700 focus:outline-none focus:border-blue-500 focus:ring-2 w-full"
                  placeholder="Book title.."
                  v-model="bookTitleTemp"
                >
              </div>
              <div class="flex justify-end">
                <button type="button" class="bg-primary1 p-2 text-white" @click="save()">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

export default {
  name: 'BookTitleModal',
  props: {
    bookTitle: String
  },
  data () {
    return {
      bookTitleTemp: ''
    }
  },
  methods: {
    closeModal () {
      this.$emit('callback')
    },
    save () {
      this.$emit('callback', this.bookTitleTemp)
    }
  },
  mounted () {
    this.bookTitleTemp = this.bookTitle
  }
}
</script>
