<template>
  <div class="bg-gradient-to-l from-footer1 to-footer2">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2">
      <div>
        <img src="logo.png" class="p-3 sm:p-3 md:p-6 lg:p-10" alt="logo">
      </div>
      <div
        class="
          m-3 sm:m-3 md:m-6 lg:m-10
          text-primary1 text-14px md:text-16px lg:text-16px
          flex items-center justify-end
        "
      >
        © Copyright Photolab.id All Rights Reserved.
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FooterLogin'
}
</script>
