<template>
  <div class="bg-gradient-to-l from-footer1 to-footer2">
    <div class="flex mx-3 md:mx-6 lg:mx-10">
      <div class="w-100 mt-10">
        <img src="/logo.png" alt="logo">
      </div>
    </div>
    <div class="grid grid-cols-12 p-3 md:p-6 lg:p-10">
      <div class="col-span-12 sm:col-span-6 md:col-span-6 lg:col-span-4">
        <div class="flex mt-4">
          <div class="w-2/12">
            <div class="w-9 h-9 bg-primary1 rounded-full flex items-center justify-center">
              <i class="fas fa-home text-white text-md" />
            </div>
          </div>
          <div class="w-10/12">
            <p class="text-primary1">
              Ruko Swadaya City Square Blok 1, No. 10, Jl. Swadaya Raya, kav 39 Wijaya Kusuma, Grogol Pertamburan Jakarta barat, 11460, DKI Jakarta
            </p>
          </div>
        </div>
        <div class="flex mt-4">
          <div class="w-2/12">
            <div class="w-9 h-9 bg-primary1 rounded-full flex items-center justify-center">
              <i class="fas fa-phone text-white text-md" />
            </div>
          </div>
          <div class="w-10/12">
            <p class="text-primary1">
              0812 1234 5678
            </p>
          </div>
        </div>
        <div class="flex mt-4">
          <div class="w-2/12">
            <div class="w-9 h-9 bg-primary1 rounded-full flex items-center justify-center">
              <i class="fas fa-envelope text-white text-md" />
            </div>
          </div>
          <div class="w-10/12">
            <p class="text-primary1 text-16px">
              photolab.id@gmail.com
            </p>
          </div>
        </div>
        <div class="flex mt-4">
          <div class="w-2/12">
            <div class="w-9 h-9 bg-primary1 rounded-full flex items-center justify-center">
              <i class="fab fa-instagram text-white text-md" />
            </div>
          </div>
          <div class="w-10/12">
            <p class="text-primary1">
              photolab.id
            </p>
          </div>
        </div>
      </div>
      <div class="col-span-6 sm:col-span-3 md:col-span-3 lg:col-span-2 text-primary1">
        <div class="mt-4">
          <h2 class="text-20px font-bold">
            Our Products
          </h2>
          <ul class="text-16px py-4">
            <li><a href="#">Brosur</a></li>
            <li><a href="#">Calender 2022</a></li>
            <li><a href="#">Name Card</a></li>
            <li><a href="#">Roll Up Banner</a></li>
            <li><a href="#">ID Card</a></li>
            <li><a href="#">Wedding</a></li>
            <li><a href="#">HardBox</a></li>
            <li><a href="#">Greeting</a></li>
          </ul>
        </div>
      </div>
      <div class="col-span-6 sm:col-span-3 md:col-span-3 lg:col-span-2 text-primary1">
        <div class="mt-4">
          <h2 class="text-20px font-bold">
            About Us
          </h2>
          <ul class="text-16px py-4">
            <li><a href="#">Why Photolab.id</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Career</a></li>
            <li><a href="#">Reseller/Partnership</a></li>
            <li><a href="#">Sponsorship</a></li>
            <li><a href="#">Exhibition</a></li>
          </ul>
        </div>
      </div>
      <div class="col-span-12 lg:col-span-4 text-primary1">
        <div class="rounded-lg bg-white mx-auto">
          <div class="flex">
            <div class="w-1/2 p-4">
              <h2 class="text-20px font-bold text-center">
                Payment Method
              </h2>
              <div class="flex flex-wrap">
                <img src="/payment/bca.png" alt="bca" :class="footerIconClass">
                <img src="/payment/ovo.png" alt="ovo" :class="footerIconClass">
                <img src="/payment/gopay.png" alt="gopay" :class="footerIconClass">
                <img src="/payment/mandiri.png" alt="mandiri" :class="footerIconClass">
                <img src="/payment/bni.png" alt="bni" :class="footerIconClass">
                <img src="/payment/maybank.png" alt="maybank" :class="footerIconClass">
                <img src="/payment/permata.png" alt="permata" :class="footerIconClass">
                <img src="/payment/visa.png" alt="visa" :class="footerIconClass">
              </div>
            </div>
            <div class="w-1/2 p-4">
              <h2 class="text-20px font-bold text-center">
                Shipping Method
              </h2>
              <div class="flex flex-wrap">
                <img src="/shipping/jne.png" alt="jne" :class="footerIconClass">
                <img src="/shipping/gojek.png" alt="gojek" :class="footerIconClass">
                <img src="/shipping/grab.png" alt="grab" :class="footerIconClass">
                <img src="/shipping/wahana.png" alt="wahana" :class="footerIconClass">
                <img src="/shipping/pos.png" alt="pos" :class="footerIconClass">
                <img src="/shipping/sicepat.png" alt="sicepat" :class="footerIconClass">
              </div>
            </div>
          </div>
        </div>
        <div class="flex justify-end items-end mt-10">
          <span class="text-16px">&copy; Copyright Photolab.id All Rights Reserved.</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FooterUpload',
  computed: {
    footerIconClass () {
      return [
        'flex-shrink-0',
        'w-50px',
        'h-auto',
        'object-contain',
        'p-2'
      ].join(' ')
    }
  }
}
</script>
