<template>
  <div class="grid grid-cols-1 gap-2">
    <div class="fixed inset-0 flex z-50 backdrop-blur-lg max-h-screen md:p-6 lg:p-6 overflow-y-auto">
      <div class="grid grid-cols-1 gap-2 w-full">
        <div class="flex justify-center">
          <div class="bg-background rounded-lg md:w-10/12 lg:w-10/12 p-6">
            <div class="grid grid-cols-1 gap-2 overflow-y-auto">
              <div class="bg-white rounded-lg p-6 shadow-md">
                <div class="grid grid-cols-1 gap-2">
                  <div>
                    <button type="button" class="icon" @click="emitCloseModal()"><i class="fas fa-arrow-left"></i></button>
                  </div>
                  <div>
                    <h1 class="text-primary1">Upload Photos for Large Softcover-24 Pages - Book 1</h1>
                  </div>
                  <div class="flex mb-2">
                    <div
                      class="
                        bg-yellow-100 text-caption text-md font-medium
                        mr-2 py-1 px-7 rounded
                        dark:bg-yellow-900 dark:text-yellow-300
                      "
                    >
                    <ul class="list-disc">
                      <li>
                        Upload a minimum of 9 photos and a maximum of 18 photos
                      </li>
                      <li>
                        Maximum photo size 10 mb
                      </li>
                    </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-white rounded-lg p-6 shadow-md">
                  <div class="grid grid-cols-1 gap-2 w-full overflow-x-auto">
                    <table class="min-w-full divide-y divide-gray-200">
                      <thead>
                        <tr class="bg-white-100">
                          <th class="px-6 py-3 ">
                            <input type="checkbox" @click="checkAll()">
                          </th>
                          <th class="px-6 py-3 text-left">Photo</th>
                          <th class="px-6 py-3 text-right">Order</th>
                        </tr>
                      </thead>
                      <tbody class="bg-white divide-y divide-gray-200 text-center">
                        <tr class="bg-gray-100">
                          <td class="px-6 py-4"><input type="checkbox"></td>
                          <td class="px-6 py-4 flex justify-start"><img src="/photo1.png"></td>
                          <td class="px-6 py-4 text-right">
                            <select class="appearance-none bg-transparent border-b-0 border-transparent focus:outline-none focus:border-transparent">
                              <option value="1" selected>1</option>
                              <option value="2">2</option>
                            </select>
                          </td>
                        </tr>
                        <tr class="bg-white-100">
                          <td class="px-6 py-4"><input type="checkbox"></td>
                          <td class="px-6 py-4 flex justify-start"><img src="/photo2.png"></td>
                          <td class="px-6 py-4 text-right">
                            <select class="appearance-none bg-transparent border-b-0 border-transparent focus:outline-none focus:border-transparent">
                              <option value="1">1</option>
                              <option value="2" selected>2</option>
                            </select>
                          </td>
                        </tr>
                        <tr class="bg-gray-100">
                          <td class="px-6 py-4"><input type="checkbox"></td>
                          <td class="px-6 py-4 flex justify-start"><img src="/photo1.png"></td>
                          <td class="px-6 py-4 text-right">
                            <select class="appearance-none bg-transparent border-b-0 border-transparent focus:outline-none focus:border-transparent">
                              <option value="1" selected>1</option>
                              <option value="2">3</option>
                            </select>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
              </div>
              <div class="grid grid-cols-2 gap-2 mt-5">
                <div class="text-12px md:text-16px lg:text-16px">Uploaded Photo: 7/18</div>
                <div class="flex justify-end">
                  <div class="btn-group flex-col">
                    <button type="button" class="bg-primary1 rounded-sm py-2 px-2 md:px-5 lg:px-5 text-white">Browse</button>
                    <button type="button" class="bg-footer2 rounded-sm py-2 px-2 md:px-5 lg:px-5 text-primary1">Save</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
<script>

export default {
  name: 'PhotoModal',
  data () {
    return {
      total: 8
    }
  },
  methods: {
    emitCloseModal () {
      this.$emit('callback')
    }
  }
}
</script>
