<template>
  <div class="rounded-lg bg-white mb-4 shadow-md">
    <div id="default-carousel" class="relative w-full" data-carousel="slide">
      <!-- Carousel wrapper -->
      <div class="relative h-100px overflow-hidden rounded-t">
            <!-- Item 1 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
              <img src="/theme.png" class="absolute block w-11/12 -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
          </div>
          <!-- Item 2 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
              <img src="/theme.png" class="absolute block w-11/12 -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
          </div>
          <!-- Item 3 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
              <img src="/theme.png" class="absolute block w-11/12 -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
          </div>
          <!-- Item 4 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
              <img src="/theme.png" class="absolute block w-11/12 -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
          </div>
          <!-- Item 5 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
              <img src="/theme.png" class="absolute block w-11/12 -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
          </div>
      </div>
      <!-- Slider indicators -->
      <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
          <button type="button" class="w-2 sm:w-2 md:w-3 lg:w-3 h-2 sm:h-2 md:h-3 lg:h-3 rounded-full bg-primary1" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
          <button type="button" class="w-2 sm:w-2 md:w-3 lg:w-3 h-2 sm:h-2 md:h-3 lg:h-3 rounded-full bg-primary1" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
          <button type="button" class="w-2 sm:w-2 md:w-3 lg:w-3 h-2 sm:h-2 md:h-3 lg:h-3 rounded-full bg-primary1" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
          <button type="button" class="w-2 sm:w-2 md:w-3 lg:w-3 h-2 sm:h-2 md:h-3 lg:h-3 rounded-full bg-primary1" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
          <button type="button" class="w-2 sm:w-2 md:w-3 lg:w-3 h-2 sm:h-2 md:h-3 lg:h-3 rounded-full bg-primary1" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
      </div>
    </div>
    <div class="flex w-11/12 mx-auto">
      <button type="button" class="bg-primary1 w-full text-white rounded-lg p-1 md:p-2 lg:p-2 my-2 md:my-4 lg:my-4 text-12px md:text-20px lg:text-20px">
        Select Birthday theme
      </button>
    </div>
  </div>
</template>
<script>
import { initFlowbite } from 'flowbite'

export default {
  name: 'ThemeCarousel',
  data () {
    return {}
  },
  methods: {},
  mounted () {
    initFlowbite()
  }
}
</script>
