<template>
  <div class="grid grid-cols-1 gap-2">
    <div class="fixed inset-0 flex z-50 backdrop-blur-lg max-h-screen md:p-6 lg:p-6 overflow-y-auto">
      <div class="grid grid-cols-1 gap-2 w-full">
        <div class="flex justify-center">
          <div class="bg-background rounded-lg md:w-10/12 lg:w-10/12 p-6">
            <div class="grid grid-cols-1 gap-2 overflow-y-auto">
              <div class="bg-white rounded-lg p-6 shadow-md">
                <div class="grid grid-cols-1 gap-2">
                  <div>
                    <button class="icon"><i class="fas fa-arrow-left" @click="emitCloseModal()"></i></button>
                  </div>
                  <div>
                    <h3 class="text-primary1">Choose a design theme for Large Softcover-24 Pages - Book 1</h3>
                  </div>
                  <div>
                    <span class="text-12px text-caption">Select the album theme that roughly matches the photo theme.</span>
                  </div>
                </div>
              </div>
              <div class="bg-white rounded-lg p-6 shadow-md">
                <h1 class="text-primary1 mb-4 fw-bold">Book 1: “birthday boy how old will the boy be”</h1>
                <div class="grid grid-cols-2 gap-2">
                  <theme-carousel v-for="(x, id) in total" :key="id" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import ThemeCarousel from './ThemeCarousel.vue'

export default {
  name: 'PhotoModal',
  components: { ThemeCarousel },
  data () {
    return {
      total: 8
    }
  },
  methods: {
    emitCloseModal () {
      this.$emit('callback')
    }
  }
}
</script>
