<template>
  <div class="rounded-lg bg-white mx-auto">
    <div class="px-6 py-6">
      <h2 class="text-20px font-bold mb-4 ml-2">
        Order Status
      </h2>
      <ol class="ml-6 relative border-l border-gray-200 dark:border-gray-700">
        <li class="mb-10 ml-6">
          <span :class="timelineClass(0)">
            1
          </span>
          <h3 :class="timelineTitleClass">
            Order
          </h3>
          <time v-if="step > 0" :class="timelineDateClass">
            Saturday, 23 May 2022
          </time>
        </li>
        <li class="mb-10 ml-6">
          <span :class="timelineClass(1)">
            2
          </span>
          <h3 :class="timelineTitleClass">
            Theme & Upload Photo
          </h3>
          <time v-if="step > 1" :class="timelineDateClass">
            Saturday, 23 May 2022
          </time>
        </li>
        <li class="mb-10 ml-6">
          <span :class="timelineClass(2)">
            3
          </span>
          <h3 :class="timelineTitleClass">
            Layout Process
          </h3>
          <time v-if="step >= 2" :class="timelineDateClass">
            Estimated 2-3 days
          </time>
          <time v-if="step == 2" class="text-primary2 font-bold">Need Approval</time>
        </li>
        <li class="mb-10 ml-6">
          <span :class="timelineClass(3)">
            4
          </span>
          <h3 :class="timelineTitleClass">
            Production process
          </h3>
          <time v-if="step > 3" :class="timelineDateClass">
            Saturday, 23 May 2022
          </time>
        </li>
        <li class="mb-10 ml-6">
          <span :class="timelineClass(4)">
            5
          </span>
          <h3 :class="timelineTitleClass">
            Delivery
          </h3>
          <time v-if="step > 4" :class="timelineDateClass">
            Saturday, 23 May 2022
          </time>
        </li>
        <li class="ml-6">
          <span :class="timelineClass(5)">
            6
          </span>
          <h3 :class="timelineTitleClass">
            Order Received
          </h3>
          <time v-if="step > 5" :class="timelineDateClass">
            Saturday, 23 May 2022
          </time>
        </li>
      </ol>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TimelineUpload',
  props: {
    step: {
      type: Number,
      default: 0
    }
  },
  data () {
    return {
      timelineTitleClass: 'flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white',
      timelineDateClass: 'block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500'
    }
  },
  methods: {
    timelineClass (timelineStep) {
      if (this.step >= timelineStep) {
        return [
          'absolute flex items-center justify-center',
          'w-6 h-6',
          'bg-timeline text-white rounded-full -left-3',
          'dark:ring-gray-900 dark:bg-blue-900'
        ].join(' ')
      } else {
        return [
          'absolute flex items-center justify-center',
          'w-6 h-6',
          'bg-gray-300 text-white rounded-full -left-3',
          'dark:ring-gray-900 dark:bg-blue-900'
        ].join(' ')
      }
    }
  }
}
</script>
