<template>
  <div class="bg-background">
    <div class="flex justify-center items-center">
      <div class="rounded-lg bg-white mx-auto my-10 md:my-20 lg:my-20 w-11/12">
        <div class="px-6 py-4">
          <div class="flex justify-center mb-6">
            <img src="logo.png" alt="logo">
          </div>
          <hr>
          <div class="flex justify-center mt-4">
            <img src="logo-login.png" alt="logo login" class="mx-auto w-250px">
          </div>
          <div class="flex justify-center">
            <form class="w-3/5">
              <div class="flex flex-row my-2 w-full">
                <div class="flex flex-col w-full">
                  <label><span class="text-primary1">Order ID </span><span class="text-primary2">*</span></label>
                  <input
                    id="order-id"
                    type="text"
                    name="order_id"
                    class="border rounded px-4 py-2 placeholder-gray-400 text-gray-700 focus:outline-none focus:border-blue-500 focus:ring-2 w-full"
                    placeholder="100937348"
                  >
                </div>
              </div>
              <div class="flex flex-row my-2 w-full">
                <div class="flex flex-col w-full">
                  <label><span class="text-primary1">No. Telp </span><span class="text-primary2">*</span></label>
                  <input
                    id="no-telp"
                    type="text"
                    name="no_telp"
                    class="border rounded px-4 py-2 placeholder-gray-400 text-gray-700 focus:outline-none focus:border-blue-500 focus:ring-2 w-full"
                    placeholder="08475568386486"
                  >
                </div>
              </div>
              <div class="flex flex-row my-5 w-full">
                <div class="flex flex-col w-full">
                  <button type="button" @click="toNextStep()" class="rounded bg-primary1 text-white py-2">
                    Sign In
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <footer-login />
    <!-- <footer-upload /> -->
  </div>
</template>

<script>
import FooterLogin from '../components/FooterLogin.vue'
// import FooterUpload from '../components/FooterUpload.vue'
export default {
  name: 'IndexPage',
  components: { FooterLogin },
  methods: {
    toNextStep () {
      this.$router.push('/step1')
    }
  }
}
</script>
